In [5]:
import numpy as np

In [6]:
4*4

16

In [7]:
4*4+2*4+9*2

42

(4*2)+(8*7)

In [8]:
(4*2)+(8*7)

64

In [9]:
10**3

1000

In [10]:
13%2

1

In [11]:
x=100
y=200
z=300
d=x+y+z
d

600

In [12]:
y="Oil_Gas"

In [13]:
y[0]

'O'

In [14]:
y[5]

'a'

In [15]:
y[0:4]

'Oil_'

In [16]:
y[:]

'Oil_Gas'

In [17]:
y[:6]

'Oil_Ga'

In [18]:
y[2:]

'l_Gas'

In [20]:
z='The optimum well spacing is 950 ft'
len(z)

34

In [22]:
list=['Land','Geology','Drilling']

In [23]:
list

['Land', 'Geology', 'Drilling']

In [24]:
list.append('Frac')

In [25]:
list

['Land', 'Geology', 'Drilling', 'Frac']

In [26]:
list.append(1000

SyntaxError: incomplete input (4130884942.py, line 1)

In [27]:
list.append(100)

In [28]:
list

['Land', 'Geology', 'Drilling', 'Frac', 100]

In [29]:
print(list[0])
print(list[2])
print(list[len(list)-1])

Land
Drilling
100

In [30]:
list[0]='Title Search'

In [31]:
list

['Title Search', 'Geology', 'Drilling', 'Frac', 100]

In [32]:
list[2]='Augusto'

In [33]:
list

['Title Search', 'Geology', 'Augusto', 'Frac', 100]

In [34]:
nested_list=[10,20, [30,40,50,60]]

In [35]:
nested_list[2][1]

40

In [39]:
nested_list2=[10,20, [30,40,50,60, [4,3,1]]]

In [40]:
nested_list2[0]

10

In [41]:
nested_list2[2]

[30, 40, 50, 60, [4, 3, 1]]

In [42]:
nested_list2[3]

IndexError: list index out of range

In [44]:
nested_list2[2][4][1]

3

In [45]:
a={'ML_Models':['ANN','SVM','RF','GB','XGB'],
'Score':[90,85,95,90,100]}

In [46]:
a

{'ML_Models': ['ANN', 'SVM', 'RF', 'GB', 'XGB'],
 'Score': [90, 85, 95, 90, 100]}

In [47]:
a['ML_Models']

['ANN', 'SVM', 'RF', 'GB', 'XGB']

In [48]:
a['Score']

[90, 85, 95, 90, 100]

In [49]:
d={'a':{'inner_a':[1,2,3]}}

In [51]:
d

{'a': {'inner_a': [1, 2, 3]}}

In [53]:
d['a']['inner_a']

[1, 2, 3]

In [54]:
t=(100,200,300,400)

In [55]:
t

(100, 200, 300, 400)

In [56]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

In [58]:
if 100==200:
    print('Good job')
else:
    print('Not good!')

Not good!

In [64]:
X=100
Y=200
Z=300

if X>Y:
    A=X+Y
elif Z<Y:
    B=X+Y+Z
else:
    C=2*(X+Y+Z)
C

1200

In [69]:
n=float(input("Enter any number"))
if n ==0:
    print('Zero')
elif n>0:
    print('Positive Number')
else:
    print('Negative Number')

Enter any number 0

Zero

In [70]:
i=range(0,5)
for x in i:
    print(x)

0
1
2
3
4

In [72]:
for x in range(0,3):
    print('edge computing')

edge computing
edge computing
edge computing

In [75]:
Frac_Crews=['Frac_Crew_1', 'Frac_Crew_2', 'Frac_Crew_3', 'Frac_Crew_4']
for x in Frac_Crews:
    if x=='Frac_Crew_2':
        continue
    print(x)

Frac_Crew_1
Frac_Crew_3
Frac_Crew_4

In [77]:
for x in range(10, 19, 4):
    
    print(x)

10
14
18

In [80]:
Performance=["Low_Performing", "Medium_Performing", "High_Performing"]
Drilling_crews=["Drilling_Crew_1", "Drilling_Crew_2", "Drilling_Crew_3"]
for x in Performance: 
    for y in Drilling_crews:
        print(x, y)

Low_Performing Drilling_Crew_1
Low_Performing Drilling_Crew_2
Low_Performing Drilling_Crew_3
Medium_Performing Drilling_Crew_1
Medium_Performing Drilling_Crew_2
Medium_Performing Drilling_Crew_3
High_Performing Drilling_Crew_1
High_Performing Drilling_Crew_2
High_Performing Drilling_Crew_3

In [81]:
i=[10,20,30,40]
out=[]
for x in i:
    out.append(x**2+200)
print(out)

[300, 600, 1100, 1800]

In [82]:
[x**2+200 for x in i]

[300, 600, 1100, 1800]

In [83]:
y=[5,6,7,8,9,10]
[x**2+3*x+369 for x in y]

[409, 423, 439, 457, 477, 499]

In [84]:
def linear_function(n):
    return 2*n+20
linear_function(20)

60

In [85]:
def Turner_rate(x):
    return x**2+50

In [86]:
Turner_rate(20)

450

In [87]:
dictionary={'Column_1':[10,20,30], 'Column_2':[40,50,60], 'Column_3':[70,80,90]}
dictionary

{'Column_1': [10, 20, 30], 'Column_2': [40, 50, 60], 'Column_3': [70, 80, 90]}

In [88]:
import pandas as pd
dictionary=pd.DataFrame(dictionary)
dictionary

   Column_1  Column_2  Column_3
0        10        40        70
1        20        50        80
2        30        60        90

In [91]:
dictionary=pd.DataFrame({'Column_1':[10,20,30], 'Column_2':[40,50,60], 'Column_3':[70,80,90]})
dictionary

   Column_1  Column_2  Column_3
0        10        40        70
1        20        50        80
2        30        60        90

In [95]:
CAPEX=pd.DataFrame({'Drilling_CAPEX':[2000000,2200000,2100000], 'Completions_CAPEX':[5000000,5100000,5150000], 'Production_\
                    CAPEX':[500000,550000,450000]}, index=['Well_1', 'Well_2', 'Well_3'])
CAPEX

,Drilling_CAPEX,Completions_CAPEX,Production_ CAPEX
Well_1,2000000,5000000,500000
Well_2,2200000,5100000,550000
Well_3,2100000,5150000,450000

In [107]:
from numpy.random import randn
import numpy as np
seed=100
np.random.seed(seed)
life_cycle=pd.DataFrame(randn(8,5), index='Land Seismic Geology Drilling Completions Production Facilities Midstream'.split(),\
    columns='Cycle_1 Cycle_2 Cycle_3 Cycle_4 Cycle_5'.split())
life_cycle

              Cycle_1   Cycle_2   Cycle_3   Cycle_4   Cycle_5
Land        -1.749765  0.342680  1.153036 -0.252436  0.981321
Seismic      0.514219  0.221180 -1.070043 -0.189496  0.255001
Geology     -0.458027  0.435163 -0.583595  0.816847  0.672721
Drilling    -0.104411 -0.531280  1.029733 -0.438136 -1.118318
Completions  1.618982  1.541605 -0.251879 -0.842436  0.184519
Production   0.937082  0.731000  1.361556 -0.326238  0.055676
Facilities   0.222400 -1.443217 -0.756352  0.816454  0.750445
Midstream   -0.455947  1.189622 -1.690617 -1.356399 -1.232435

In [108]:
life_cycle.head(2)

          Cycle_1  Cycle_2   Cycle_3   Cycle_4   Cycle_5
Land    -1.749765  0.34268  1.153036 -0.252436  0.981321
Seismic  0.514219  0.22118 -1.070043 -0.189496  0.255001

In [109]:
life_cycle.tail(2)

             Cycle_1   Cycle_2   Cycle_3   Cycle_4   Cycle_5
Facilities  0.222400 -1.443217 -0.756352  0.816454  0.750445
Midstream  -0.455947  1.189622 -1.690617 -1.356399 -1.232435

In [110]:
life_cycle.describe()

        Cycle_1   Cycle_2   Cycle_3   Cycle_4   Cycle_5
count  8.000000  8.000000  8.000000  8.000000  8.000000
mean   0.065566  0.310844 -0.101020 -0.221480  0.068616
std    1.019031  0.946721  1.142760  0.745362  0.829178
min   -1.749765 -1.443217 -1.690617 -1.356399 -1.232435
25%   -0.456467  0.033065 -0.834775 -0.539211 -0.237823
50%    0.058994  0.388922 -0.417737 -0.289337  0.219760
75%    0.619935  0.845656  1.060558  0.061992  0.692152
max    1.618982  1.541605  1.361556  0.816847  0.981321

In [111]:
life_cycle.cumsum()

              Cycle_1   Cycle_2   Cycle_3   Cycle_4   Cycle_5
Land        -1.749765  0.342680  1.153036 -0.252436  0.981321
Seismic     -1.235547  0.563860  0.082992 -0.441932  1.236322
Geology     -1.693574  0.999024 -0.500603  0.374915  1.909043
Drilling    -1.797985  0.467743  0.529130 -0.063220  0.790725
Completions -0.179003  2.009348  0.277251 -0.905656  0.975243
Production   0.758079  2.740349  1.638807 -1.231894  1.030919
Facilities   0.980479  1.297132  0.882455 -0.415440  1.781364
Midstream    0.524532  2.486754 -0.808162 -1.771839  0.548930

In [112]:
life_cycle['Cycle_2']

Land           0.342680
Seismic        0.221180
Geology        0.435163
Drilling      -0.531280
Completions    1.541605
Production     0.731000
Facilities    -1.443217
Midstream      1.189622
Name: Cycle_2, dtype: float64

In [114]:
life_cycle['Cycle_2']

Land           0.342680
Seismic        0.221180
Geology        0.435163
Drilling      -0.531280
Completions    1.541605
Production     0.731000
Facilities    -1.443217
Midstream      1.189622
Name: Cycle_2, dtype: float64

In [115]:
life_cycle.Cycle_2

Land           0.342680
Seismic        0.221180
Geology        0.435163
Drilling      -0.531280
Completions    1.541605
Production     0.731000
Facilities    -1.443217
Midstream      1.189622
Name: Cycle_2, dtype: float64

In [116]:
life_cycle[['Cycle_2', 'Cycle_3']]

              Cycle_2   Cycle_3
Land         0.342680  1.153036
Seismic      0.221180 -1.070043
Geology      0.435163 -0.583595
Drilling    -0.531280  1.029733
Completions  1.541605 -0.251879
Production   0.731000  1.361556
Facilities  -1.443217 -0.756352
Midstream    1.189622 -1.690617

In [117]:
life_cycle['Cycle_Total']=life_cycle['Cycle_1']+life_cycle\
    ['Cycle_2']+life_cycle['Cycle_3']+life_cycle['Cycle_4']+\
    life_cycle['Cycle_5']
life_cycle['Cycle_Total']

Land           0.474835
Seismic       -0.269139
Geology        0.883109
Drilling      -1.162413
Completions    2.250791
Production     2.759077
Facilities    -0.410271
Midstream     -3.545775
Name: Cycle_Total, dtype: float64

In [118]:
life_cycle['Cycle_1_2_Mult']=life_cycle['Cycle_1']*life_cycle['Cycle_2']
life_cycle['Cycle_1_2_Mult']

Land          -0.599610
Seismic        0.113735
Geology       -0.199317
Drilling       0.055472
Completions    2.495831
Production     0.685007
Facilities    -0.320971
Midstream     -0.542405
Name: Cycle_1_2_Mult, dtype: float64

In [119]:
life_cycle

,Cycle_1,Cycle_2,Cycle_3,Cycle_4,Cycle_5,Cycle_Total,Cycle_1_2_Mult
Land,-1.749765,0.342680,1.153036,-0.252436,0.981321,0.474835,-0.599610
Seismic,0.514219,0.221180,-1.070043,-0.189496,0.255001,-0.269139,0.113735
Geology,-0.458027,0.435163,-0.583595,0.816847,0.672721,0.883109,-0.199317
Drilling,-0.104411,-0.531280,1.029733,-0.438136,-1.118318,-1.162413,0.055472
Completions,1.618982,1.541605,-0.251879,-0.842436,0.184519,2.250791,2.495831
Production,0.937082,0.731000,1.361556,-0.326238,0.055676,2.759077,0.685007
Facilities,0.222400,-1.443217,-0.756352,0.816454,0.750445,-0.410271,-0.320971
Midstream,-0.455947,1.189622,-1.690617,-1.356399,-1.232435,-3.545775,-0.542405